<div class="content mat-elevation-z4">
<div class="backg">
  <div class="container is-inline-grid">
    <div class="title">Story</div>
    <div></div>
    <div class="left">
      I started off making Python scripts to increase the productivity at my finance job,
      and what was a hobby quickly became a passion.<br><br>
      I have began taking programming more seriously, learning web development first
      through books, tutorials, and personal projects. My employer then assisted me
      by offering training resources and letting me help make improvements to our company’s
      site.
      <br><br>
      I am now work-ready and excited to start programming as a full-time career
    </div>
    <div class="right">
      <div class="title pb-2">Skills</div>
      <ul>
        <li>JavaScript</li>
        <li>TypeSript</li>
        <li>HTML & CSS</li>
        <li>Python</li>
        <li>MongoDB</li>
        <li>Express</li>
        <li>NodeJs</li>
        <li>Angular</li>
        <li>Booststrap</li>
        <li>SQL</li>
        <li>Git</li>
        <li>AWS</li>
      </ul>
    </div>
  </div>
</div>
</div>
