@import "../../vars.scss";

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  column-count: 2;
  text-align: left;
  background: linear-gradient(
    to right,
    $skill-left 0%,
    $skill-left 65%,
    $skill-right 65%,
    $skill-right 100%
  )
}

@media only screen and (max-width: 800px) {
  .content {
    margin-left: 16px
  }
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4px;
  padding-right: 30px;
  padding-left: 30px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.left {
  position: relative;
  padding-top: 18px;
  padding-right: 10px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.right {
  position: absolute;
  left: 66%;
  font-size: 17px;
  padding-top: 1px;
  // padding-top: 40%;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 22px;
  }

  .left {
    padding-top: 7px;
    font-size: 16px;
  }

  .right {
    font-size: 16px;
  }
}

ul {
  list-style-type: none;
  padding-left: 5px;
  padding-top: 8px;
}

.list {
  text-align: left;
}



