@import "../../vars.scss";

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  column-count: 2;
  text-align: left;
  background: linear-gradient(
    to right,
    $skill-left 0%,
    $skill-left 65%,
    $skill-right 65%,
    $skill-right 100%
  )

}


@media only screen and (max-width: 800px) {
  .content {
    // margin-left: 16px;
    margin: 0px;
    border-radius: 0px;
    height: 91vh;
    overflow-y: hidden;
  }
  .right {
    padding-left: 10px;
  }
}

// keeps right from crossing linear-gradient line
@media only screen and (min-width: 1865px) {
  .right {
    padding-left: 100px;
  }
}
@media only screen and (min-width: 2500px) {
  .right {
    padding-left: 200px;
  }
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 4px;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  max-height: calc(100vh - 98px);
  // overflow-y: scroll;
  // background: red;
}

.title {
  text-align: center;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.left {
  position: relative;
  padding-top: 18px;
  padding-left: 9px;
  padding-right: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  font-size: 17px;
  line-height: 1.40;
  font-family: 'Poppins', sans-serif;
}

.right {
  position: absolute;
  // right: 15vw;
  left: 68%;
  font-size: 17px;
  line-height: 1.4;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
}

// shrink font size when smaller
@media only screen and (max-width: 400px) {
  .title {
    font-size: 22px;
  }

  .left {
    padding-top: 7px;
    font-size: 16px;
  }

  .right {
    font-size: 16px;
    top: 25%;
  }
}

ul {
  list-style-type: none;
  padding-left: 5px;
  padding-top: 8px;
}

.list {
  text-align: left;
}



