@import "../vars.scss";

* {
  padding: 0;
}

.navbar {
  padding-top: 15px;
}

 //when clicked
.navbar-active {
  color:white !important;
}

.navbar-brand {
  padding-left: 25px;
}

.bg-custom {
  background-color: $dark-color;
}

.nav-link {
  font-family: 'Alex Brush', cursive;
  font-family: 'Lato', sans-serif;  font-size: 20px;
  font-weight: 500;
}

.nav-padding {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 438px) {
    .nav-padding {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-collapse {
      position: relative;
      left: -3vw;
    }
}

.mb {
  background-color: lightgray;
  border-radius: 5px;
  font-weight: 400;
  height: 34px;
  width: 52px;
  padding-left: 4px;
  padding-top: 2px;
}

.active .mb {
  background-color: white;
}

.navbar-nav {
  position: absolute;
}

// sidebar
.sidebar {
  text-align: center;
  background: $background-color;
}

.sidebar h1{
  text-align: center;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.sidebar h2{
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: $dark-color;
  padding: 20px;
}

.sidebar ul {
  text-align: left;
  padding-left: 30px;
}

.sidebar ul li {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  margin: 50px 0;
}

@media only screen and (max-height: 700px) {
  .sidebar ul li {
    margin: 30px 0;
  }
}

@media only screen and (max-height: 600px) {
  .sidebar ul li {
    margin: 10px 0;
  }
}

.sidebar ul li a{
  color: #000000;
  padding: 0 40px;
  text-decoration: none;
}

.sidebar ul li a:hover{
  margin-left: 5px;
  transition: .4s;
  color: $dark-color;
}

.contact {
  margin-bottom: -20px;
}

// sidebar active
.active {
  position:relative;
  padding-left: 20px;
}

.sidebar ul li a i:hover {
  position: fixed;
}

.mat-sidenav {
  margin: 16px;
  width: 255px;
  border-right: none;
  background: $menu-color;
  color: white;
  border-radius: 10px;
  padding-top: 30px;
  text-align: center;
  overflow: hidden;
}

.profile {
  width: 120px;
  clip-path: circle();
  margin: 0px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// sidebar open button
mat-toolbar {
  background: $dark-color;
  min-height: 3px;
  margin-top: -25px;
  margin-bottom: -15px;
}

// removes sidebar open button for small screens/phones
@media only screen and (max-width: 361px) {
  mat-toolbar button {
    display: none;
  }
}

button {
  position: absolute;
  background: lightgray;
  right: 4%;
}

/* below is social media icons */
.wrapper {
  display: flex;
  bottom: 3%;
  position: absolute;
  padding-left: 65px;
}

.mat-icon {
  padding-bottom: 20px;
}

@media only screen and (max-height: 760px) {
  .wrapper {
    display: none;
  }
}


.wrapper .icon {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.wrapper .icon span {
  position: relative;
  height: 60px;
  width: 60px;
  background: $dark-color;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i{
  font-size: 25px;
  line-height: 60px;}

.wrapper .icon .tooltip{
  position: absolute;
  top: -70px;
  background: white;
  color: black;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-.55,0.265,1.55);
  z-index: 4;
}

.wrapper .icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: white;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.linkedin{
  right: 40px;
  color: white;
}

.git{
  position: relative;
  color: white;
  left: 9px;
}
/* above is social media icons */

mat-sidenav-container {
  height: calc(100vh - 67px);
  position: relative;
  overflow-y: hidden;
}

.loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 99;
}
