@import "../../vars.scss";

// .light-color {
//   background: $background-color;
// }


.content {
  height: calc(100vh - 99px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: url("https://images.unsplash.com/photo-1588655094662-d6461b53045b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-attachment: local;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .content {
    margin: 0px;
    border-radius: 0px;
    // height: 92.25vh;
    height: calc(100vh - 67.2px);
    bottom: 0px;
    margin: 0px;
    border-radius: 0px;
  }
}

.words {
  font-size: 2rem;
  color: black;
  font-weight: 550;
  line-height: 55px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;

  padding-bottom: 310px;
  bottom: 75%;
  padding-right: 9px;
}

.resume {
  position: relative;
  bottom: 45%;

  font-size: 20px;
  font-weight: 300;
  width: auto;
}

.btn-success {
  background: $dark-color;
}

@media only screen and (max-width: 450px) {
  .words {
    font-size: 1.65rem;
    // padding-top: 140px;
  }
}
