* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #c4c7be;
  background: #daded3;
}

h2 {
  font-size: 30px;
  font-weight: 350;
  color: #fff;
  background: #013f28;
  background: #266150;
  background: #276050;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-attachment: fixed;
  // background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .content {
    margin-left: 16px
  }
}

form {
  text-align: left;
  width: 350px;
  background: #013f28;
  background: #266150;
  background: #276050;
  padding: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 375px) {
  form {
    max-width: 280px;
  }
}

.conctactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.conctactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
  background: #fff;
  margin-left: 16px;
  margin-right: 16px;
}

.inputBox {
  background: #013f28;
  background: #266150;
  background: #276050;
}

.inputBox input, textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background: #fff;
}

.round {
  // border-radius: 5px;
}



.inputBox .round:hover {
  background: #90a58a;
  background: #daded3;;
}

.inputBox .red:hover {
  background: red;
}

.conctactForm .inputBox input:focus ~ :placeholder {
  color: #e91e63;
  font-size: 12px;
  transform: translatey(-20px);
}

.fa-github {
  padding-top: 10px;
  padding-right: 10px;
  color: black;
}
.fa-linkedin-square {
  padding-top: 10px;
  padding-left: 10px;
  color: black;
}
