<div class="content mat-elevation-z4 ">
  <div class="container container-fluid">
    <div class="row gx-0">
      <div class="col-sm pt-3">
        <div class="card" >
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/uIY0RtI.gif" alt="website gif">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">Portfolio Website</h2>
            <p class="card-text pt-0 mt-0">
              I developed this portfolio website using the full MEAN stack and deployed it through AWS.
              I used BS5 and media-queries for a responsive design. I used Used Express and Node
              to setup REST API to route form entries to MongoDB.
            </p>
            <a href="https://github.com/micahbessolo/portfolio_site" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm pt-3">
        <div class="card" >
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/MMPvRaj.gif" alt="website gif">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">E-Commerce Site</h2>
            <p class="card-text pt-0 mt-0">
              I developed E-commerce site using React and the Commerce.js API. This is my first project using React. While this is functional, it is still work
              in progress and I will be improving the frontend and adding a landing page.
            </p>
            <a href="https://github.com/micahbessolo/React_e_commerce" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-0 ">
      <div class="col-sm pt-3">
        <div class="card" >
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/h3zGZ5V.gif" alt="Tic Tac Toe">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">Tic-Tac-Toe</h2>
            <p class="card-text pt-0 mt-0">
              My earliest Angular project that I used to learn the the framework. The game logic is in TypeScript
            </p>
            <a href="https://github.com/micahbessolo/tic_tac_toe" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm m-0 pt-3">
        <div class="card" >
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/Y5quMZo.gif" alt="website gif">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">Python Hangman</h2>
              <p class="card-text pt-0 mt-0">
                This is one of my earliest projects I created while learning Python. There was a few iterations before this final one.
              </p>
            <a href="https://github.com/micahbessolo/Hangman/tree/main" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
