@import "../../vars.scss";

.content {
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  position: relative;
  top: 0px;
  left: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .tab-content{
    margin-top: 10px;
  }
  .container {
    left: -5px;
  }
}

@media only screen and (max-width: 440px){
  .card {
    padding: 0px;
    margin: 0px;
    background-size: cover;
  }
  .container {
    left: -12px;
  }
}

.card {
  margin: 0 auto;
  border-radius: 10px;
  max-width: 100vw !important;
  width: 33rem;
  transition: .5s;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.card img {
  border-radius: 10px;
}

.card:hover {
  transform:scale(1.075);
}
