<div class="content">
  <div class="container container-fluid" id="container">
    <div class="row gx-0">
      <div class="col-sm pt-3">
        <div class="card" >
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/hpFai1B.gif" alt="website gif">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">Portfolio Website</h2>
            <p class="card-text pt-0 mt-0">
              I developed this portfolio website using the full MEAN
              stack, deploying it with AWS. I used Used Express and Node
              to setup an API to route form entries to MongoDB. Angular,
              BS5, & CSS were used for the responsive design.
            </p>
            <a href="https://github.com/micahbessolo/portfolio_site" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm pt-3">
        <div class="card" >
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/MMPvRaj.gif" alt="website gif">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">E-Commerce Site</h2>
            <p class="card-text pt-0 mt-0">
              I developed an E-commerce site using React and the Commerce.js
              API. This is my first project using React. Includes functional
              shopping cart and payment form. The frontend design is incomplete
            </p>
            <a href="https://github.com/micahbessolo/React_e_commerce" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-0">
      <div class="col-sm pt-3">
        <div class="card" >
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/h3zGZ5V.gif" alt="Tic Tac Toe">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">Angular Tic-Tac-Toe</h2>
            <p class="card-text pt-0 mt-0">
              My earliest Angular project that I used to learn the framework. The
              game logic is in TypeScript
            </p>
            <a href="https://github.com/micahbessolo/tic_tac_toe" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
      <div class="col-sm m-0 pt-3">
        <div class="card">
          <img class="card-img-top pb-0 mb-0" src="https://i.imgur.com/K9OyEhJ.png" alt="website gif">
          <div class="card-body">
            <h2 class="card-title pb-0 mb-0 pt-0 mt-0">21 BlackJack</h2>
              <p class="card-text pt-0 mt-0">
                21 BlackJack Simulator - animated and includes sound effects
              </p>
            <a href="https://github.com/micahbessolo/Blackjack" class="btn btn-primary">Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
