<div class="content mat-elevation-z4">
  <div class="contactForm">
    <form method="POST" action="/post-feedback">
      <h2>Contact Me</h2>
      <div class="inputBox">
        <input type="text" name="name" required="required" placeholder="Full Name">
      </div>
      <div class="inputBox">
        <input type="text" name="email" required="required" placeholder="Email">
      </div>
      <div class="inputBox">
        <textarea type="text" name="message" required="required" placeholder="Type your message..."></textarea>
      </div>
      <div class="inputBox">
        <input type="submit" name="" value="Submit">
      </div>
    </form>
  </div>
</div>
