<!--Top toolbar-->
<mat-toolbar >
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
</mat-toolbar>

<!--sidebar-->
<mat-sidenav-container class="sidebar">
  <mat-sidenav mode="over" #sidenav="matSidenav">
      <img src="https://i.imgur.com/cG0qcxB.jpg" class="profile" alt="profile">
      <h1>Micah Bessolo</h1>
      <h2>Web Developer</h2>
      <ul class="nav">
        <li>
          <a routerLink="">
            <i class="fa-solid fa-house"></i>
              <span> Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/skills">
              <i class="fa-solid fa-screwdriver-wrench"></i>
              <span> Skills</span>
          </a>
        </li>
        <li>
          <a routerLink="/portfolio">
              <i class="fa-regular fa-folder"></i>
              <span> Portfolio</span>
          </a>
        </li>
        <li>
          <a routerLink="/contact">
              <i class="fa-regular fa-envelope"></i>
              <span> Contact</span>
          </a>
        </li>
    </ul>
<!--social media icons-->
    <div class="wrapper">
      <div class="icon linkedin">
          <div class="tooltip">Linkedin</div>
          <span><i class="fab fa-linkedin"></i></span>
      </div>
      <div class="icon github">
          <div class="tooltip">Github</div>
          <span><i class="fab fa-github"></i></span>
      </div>
    </div>
  </mat-sidenav>

<!--main page-->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
