mat-toolbar {
  height: .7cm;
  background: #013f28;
  color: white;
  padding-top: 0px;
  margin-top: 0;
}

mat-icon {
  padding-bottom: 20px;
}

mat-sidenav {
  margin: 16px;
  width: 295px;
  border-right: none;
  background: #90a58a;
  color: white;
  border-radius: 10px;
  padding-top: 30px;
  text-align: center;
}

.profile {
  width: 120px;
  clip-path: circle();
  margin: 0px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar h1{
  text-align: center;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #000000;
}

.sidebar h2{
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #013f28;
  padding: 20px;
  font-weight: bold;

}

.sidebar {
  text-align: center;
}

.sidebar ul {

  text-align: left;
}

.sidebar ul li {
  margin: 25px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
}

.sidebar ul li a{
  color: #000000;
  padding: 0 40px;
  text-decoration: none;
}
.sidebar ul li a:hover{
  margin-left: 20px;
  transition: .4s;
  color: #0071e3;
}

/* below is social media icons */
.wrapper {
  display: flex;
  bottom: 3%;
  position: absolute;
  padding-left: 65px;
}

@media only screen and (max-height: 612px) {
  .wrapper {
    // background-color: red;
    display: none;
  }
}

.wrapper .icon {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.wrapper .icon span {
  position: relative;
  height: 60px;
  width: 60px;
  background: #013f28;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i{
  font-size: 25px;
  line-height: 60px;
}

.wrapper .icon .tooltip{
  position: absolute;
  top: -70px;
  background: #fff;
  color: black;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-.55,0.265,1.55);
  z-index: 4;
}

.wrapper .icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
/* above is social media icons */

mat-sidenav-container {
  height: calc(100vh - 65px);
}
