<div class="content mat-elevation-z4">
<div class="backg">
  <div class="container is-inline-grid">
    <div class="title">Skills</div>
    <div></div>
    <div class="left">My journey to becoming a self-taught developer
      started  with a 2020 New Year's resolution where I decided to beign
      my transitions from a licensed Financial Service Representative into
      something in technology.<br><br> Thanks to mentorships, books, forumns, and countless
      projects I am ready to jump into the field with a specialty of
      front-end development, yet still flexible and excited for any opportunity
      that presents itself.
    </div>
    <div class="right">
      <ul>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Angular</li>
        <li>SQL</li>
        <li>TypeScript</li>
        <li>HTML & CSS</li>
        <li>Git</li>
      </ul>
    </div>
  </div>
</div>
</div>
