$dark-color: #013f28;
$menu-color: #90a58a;

// Skill/Story page
$skill-left: lightgray;
$skill-right: #8a90a5;

// Portfolio page
$portfolio-background: #FFE9A2;
// $portfolio-background: #90a58a;
// $portfolio-background: #c4c7be;

// Contact page
$contact-box: #276050;
// $contact-box: #266150;
// $contact-box: #013f28;
$contact-background: #daded3;
// $contact-background: #c4c7be;
