
// Theme
$dark-color: #013f28;
$dark-color: #5c501f;
$dark-color: #2b2129;
$dark-color: #546e74;
$dark-color: #3f5459;
// $dark-color: #536e85;
$dark-color: #3d5c63;
$dark-color: #244952;

// $menu-color: #90a58a;
// $menu-color: #ccda9c;
// $menu-color: #eddac9;

// $menu-color: #dfca9e;
// $menu-color: #c2956e;
// $menu-color: #dfca9e;
$menu-color: #dac7ac; // oi!
// $menu-color: #d0c8b6;
// $menu-color: #e6cdb5; // sunset matchin
// $menu-color: #ffd6ba; // bold!
// $menu-color: #d5beac; // safe


$background-color: #e2d3cd; //maybe background color, idk


// Skill/Story page
$skill-left: lightgray;
$skill-right: #8a90a5;

// Portfolio page
$portfolio-background: #FFE9A2;
$portfolio-background: #E5E1E6;
// $portfolio-background: #90a58a;
// $portfolio-background: #c4c7be;

// Contact page
$contact-box: #276050;
// $contact-box: #266150;
// $contact-box: #013f28;

$contact-background: #daded3;
// $contact-background: #c4c7be;
