
// Theme
$dark-color: #013f28;
$dark-color: #5c501f;
$dark-color: #2b2129;
$dark-color: #546e74;
$dark-color: #3f5459;
// $dark-color: #536e85;
$dark-color: #3d5c63;
$dark-color: #244952;

// $menu-color: #90a58a;
// $menu-color: #ccda9c;
// $menu-color: #eddac9;

// $menu-color: #dfca9e;
// $menu-color: #c2956e;
// $menu-color: #dfca9e;
$menu-color: #dac7ac; // oi!
// $menu-color: #d0c8b6;
// $menu-color: #e6cdb5; // sunset matchin
// $menu-color: #ffd6ba; // bold!
// $menu-color: #d5beac; // safe


$background-color: white;

// Skill/Story page
// $skill-left: lightgray;
// $skill-right: #8a90a5;

// Portfolio page
$portfolio-background: #FFE9A2;
$portfolio-background: #E5E1E6;
// $portfolio-background: #90a58a;
// $portfolio-background: #c4c7be;

// Contact page
$contact-box: #276050;
// $contact-box: #266150;
// $contact-box: #013f28;

$contact-background: #daded3;
// $contact-background: #c4c7be;


$skills-bubble: thistle;
$skills-bubble: #65B4D6;
// $skills-bubble: #558cbd;
$skills-bubble: #4D96D6;
$skills-bubble: #4A6FB0;
$skills-bubble: #6277CC;
$skills-bubble: #A8A0DB;
$skills-bubble: #507DC7;
$skills-bubble: #D3D3D3;
$skills-bubble: #E8E9EB;
// $skills-bubble: ;


$skills-background: #89b0ae;
$skills-background: #bee3db;
$skills-background: #c2daef;
$skills-background: #E5E1E6;
$skills-background: #EBB9A0;
// $skills-background: #DBAB93;
// $skills-background: gray;
// $skills-background: #BBBCB6;
// $skills-background: #ACADA8;
// $skills-background: ;
// $skills-background: ;
// $skills-background: ;

