.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-image: url("https://i.imgur.com/VSjNm16.jpg");
  background-attachment: fixed;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.words {
  font-size: 2rem;
  color: black;
  font-weight: 550;
  padding-bottom: 350px;
  padding-right: 9px;
  line-height: 55px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
}
